:root {
    --white: #EBEBEA;
    --red: #971d27;
    --gold: #A8763E;
  }

html {
    background-color: black;
    box-sizing: border-box;
}

body{
    margin: 0 250px;
    color: var(--white);
}

p{
    color: var(--white);
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 30px;
}


.header{
    border: 1px black solid;
    margin-top: -50px;
}

.header ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    color: var(--white);

    /*font style*/
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;
}

.header ul li{
    padding: 5px;
    margin: 0 10px;
}

.header ul li:first-child{
    margin-right: auto;
    padding: 0 25px;
}

.header {
    background-color: black;
}

/*hero section*/
.hero_top{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-items: center;
    flex: 1;
}

.hero_img{
    max-width: 60%;
    height: auto;
    display: inline-block;
    margin: auto;
    margin-left: 0px;
    padding-top: 30px;
    
}

.hero_top p{
    position: relative;
    writing-mode: vertical-rl;

    padding: 35px;
    padding-bottom: 20px;
    margin: 0;
    margin-top: 50px;
    margin-right: auto;


    /*font style*/
    color: var(--white);
    font-family: 'Raleway';
    font-weight: 100;
    font-size: 50px;
    letter-spacing: 15px;
    line-height: 1em;
}


.hero_top p:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px; 
    padding: 3px; 
    background:linear-gradient(180deg,#ECA351, rgba(255, 182, 100, 0.3)); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
}


.hero_bot h1{
    margin: 0;
    padding: 0;

    color: var(--white);
    font-family: 'Cormorant SC';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.hero_bot p{
    margin: 0px;
    text-align: left;

    color: var(--gold);
    font-family: 'Raleway';
    font-size: 18px;
    letter-spacing: 0.02em;
    text-transform: capitalize;

}

.hero_bot{
    margin-top: 30px;
    color: var(--gold);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}


.divider{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 30px;
    background-color: var(--red);
    margin: 80px 0;
}

.divider p {
    text-align: right;
    padding-right: 10px;

    font-family: 'Raleway';
    font-size: 14px;

    letter-spacing: 0.02em;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.section1{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    margin: 60px 0;
    gap: 50px;
}

.side_margin{
    margin: 0 50px;
}

.section_text{
    text-align: center;
    flex: 1;
}


h2{
    font-family: 'Cormorant SC';
    font-size: 30px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-top: 0px;

    color: var(--white);
}

.section_img{
    width: 400px;
    max-width: 100%;
    height: auto;
}

button{
    color: var(--white);
    background-color: transparent;

    margin-top: 12px;
    padding: 5px 50px;

    border: 3px solid #A8763E;
    border-radius: 10px;

    font-family: 'Cormorant Garamond';
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.section2_top{
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
}

.pop_items{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

h3{
    color: var(--white);
    font-family: 'Cormorant SC';
    font-size: 18px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-top: 18px;
    margin-bottom: 0px;
}

.pop{
    width: 250px;
    height: 400px;
}

.pop p{
    font-size: 14px;
}

.pop img{
    width: 100%;
    height: auto;
    transform: scale(0.8);
    min-width: 150px;
}

.side_by_side, .section2_bot{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.section2_bot img{
    max-width: 400px;
    width: 100%;
    height: auto;
}

.section3_top{
    width: 100%;
    height: auto;
    text-align: center;
}

.review_carousel{
    width: 100%;
    height: 300px;
    border: #EBEBEA solid;
    margin-bottom: 80px;
}

.section3 h2{
    margin-bottom: 30px;
}

.section4 h2{
    width: 100%;
    height: auto;
    text-align: center;
}

.gal_carousel{
    width: 100%;
    height: 300px;
    border: #EBEBEA solid;
}

.section4{
    margin-bottom: 80px;
}

footer{
    position: absolute;
    width: 100%;
    height: fit-content;
    left: 0px;
    background-color: var(--red);
}

footer .side_margin{
    margin: 80px 250px;
}

@media screen and (max-width: 768px) {
    body{
        margin: 50px;
    }

    .header ul {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .header ul li:first-child {
        flex-basis: 100%;
        text-align: center;
        
    }
    
    .header ul li {
        text-align: center;
    }
    
    .hero_top p{
        font-size: 30px;
        padding: 25px;
        padding-bottom: 15px;
        letter-spacing: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .hero_top{
        flex: 1 0 auto;
    }

    .hero_img{
        margin-left: auto;
        margin-right: auto;
        min-width: 150px;
    }

    .hero_section div{
        padding: 0px !important;
    }

    h1{
        padding: 0px;
        text-align: center;
        font-size: 50px;
    }

    .divider{
       justify-content: center;
    }

    h2{
        font-size: 25px;
    }

    .hero_bot p{
        text-align: center;
    }

    button{
        padding: 5px 30px;
    }

}

@media screen and (max-width: 1300px) {
    body{
        margin: 80px;
    }
}

@media screen and (max-width: 480px) {
    body{
        margin-left: 30px;
        margin-right: 30px;
    }

    .hero_top{
        gap: 10px;
    }
}


@media screen and (min-width: 1300px) {
    .header{
        padding-top: 30px;
        margin-top: 10px;
    }
}